header {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
}

.upper {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    height: 52px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
}

.lower {
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 44px;
    border-bottom: 1px solid rgb(218, 218, 218);
    background-color: rgb(255, 255, 255);
}

.start {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 1rem;
}

.end {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 1.75rem;
    padding: 0px 1.25rem;
}

button {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
}

.logo-container{
    width: 105px;
    height: 52px;
    background-color: rgb(230, 0, 18);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: white;
}

svg{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
}

form{
    width: 28.125rem;
    height: 2.125rem;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(72, 72, 72);
   
}

.search-cont{
    margin-right: 10px;
}

.all-cat{
    border: none;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 700;
    min-height: fit-content;
    display: flex;
    align-items: center;
    flex-flow: row;
    justify-content: space-between;
}

.cat-text{
    padding: 2px 8px;
    margin-right: 8px;
}

.cat-icon{
    margin-right: 10px;
    height: 14px;
}

a {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0px;
}

.button-end{
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}

.bold-text{
    font-size: 0.875rem;
    font-weight: 700;
}

.sec-icon{
    height: 18px;
    margin: 6px;
}