.upper {
    width: 96%;
    padding-top: 32px;
    display: block;
    line-height: 0;
    min-height: 1px;
    min-width: 1025px;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.banner {
    border-radius: 0.25rem;
    box-shadow: rgba(72, 72, 72, 0.15) 0px 4px 16px 0px;
    width: 100%;
}

h1{
    color: rgb(72, 72, 72);
    text-align: start;
    font-size: 1.75rem;
    line-height: 1.35;
}

.lower{
    width: 96%;
    height: 84px;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 0px 48px 0px;
    max-width: 90rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    justify-items: start;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-bottom: 0px;
}

a{
    width: 125px;
    height: 48px;
    padding: 0px 24px 0px 24px;
    background-color: rgb(230, 0, 18);
    border-radius: 0.25rem;

}

span{
    height: 3rem;
    font-size: 1.125rem;
    font-weight: 700;
    color: white;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
}

.end{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.age-class{
    width: 45px;
    height: 68px;
}

p{
    padding: 0.25em 0px 0px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 300;
}

.end{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    min-height: 5.25rem;
    gap: 0.75rem;
}

